<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">
      <h3>ライブ一覧</h3>
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>福岡ぼっちLIVE</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>