  <div class="row">  
    <aside class="col-sm-4">
      <h3>ライブ作成</h3>
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
  </div>